<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Phone</key>
	<array>
		<string>01270629191</string>
		<string>01612475181</string>
		<string>07521123456</string>
	</array>
	<key>Name</key>
	<string>Jon Howell</string>
</dict>
</plist>
